		@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
		*{
			box-sizing: border-box;
			padding: 0px;
			overscroll-behavior-block: none;
		}
		body{
			background-image: url("bg_1.jpg");
/*			background-position: top;*/
/*			background-repeat: no-repeat, no-repeat;*/
/*			background-color: yellow;*/
			margin:0;
			padding: 0;
		}
		nav{
			border: 0px solid darkred;
			padding:0px;
			top: 0;
			width:50%;
			margin: auto;
		}
		.navbar_main{
			font-family:"Calibri",sans-serif;
			display: flex;
			justify-content: space-between;
		}
		.navbar_link{
			display: flex;
			justify-content: right;
			list-style-type: none;
			font-family:"Calibri",sans-serif;
		}
		.navbar_link a {
			font-family:"Calibri",sans-serif;
			font-size: 20px;
			color: black;
			padding:10px 10px;
			text-decoration: none;
		}
		.navbar_link a:hover{
			font-family:"Calibri",sans-serif;
			color: darkred;
		}
		.two {
			border: 1px solid red;
			background-color: skyblue;
			font-family: "Courier New",monospace;
			font-size: 30px;
			text-align: center;
/*			height:10vh;*/
			width: 55%;
			margin:auto;
			text-overflow: ellipsis;
		}
		.a{
			background-color: whitesmoke;
			display: flex;
			border: 1px solid black;
			width:55%;

		}
		.b{
			background-color: whitesmoke;
			display: flex;
			border:1px solid black;
			width: 55%;
			height: 300px;
			margin: 20px;
		}
		.one{
			display:flex;
			flex-direction: column;
			align-items: center;
			font-size: 20px;
			font-family: "Courier New",monospace;

		}
		.name {
			font-size: 40px; 
			text-align: center;
		}
		.one ul{
			display: flex;
			flex-direction: column;
			list-style-type: none;
			align-items: center;
			font-weight: bold;
		}
		.para{

			padding:10px 15px;
			display: flex; 
			flex-direction: column;
			flex-wrap: nowrap;
		}
		.b img{
			height: 300px;
			width:600px;
		}
		.two1{
			display: flex;
			background-color: whitesmoke;
			font-family: "Courier New",monospace;
			font-size: 30px;
			flex-direction: column;
			width:55% ;
			margin: 10px auto;
			text-align: center;
		}
		#contact p{
			margin: 0;
		}
		.icon {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
		.icon {
			justify-content: center;
		}
		.icon img{
			background-color: whitesmoke;
			margin: 5px;
			height:40px;
			width:40px;
		}
		.fixed_footer {
			padding: 10px;
			text-align: center;
			background-color: lightgrey;
			height: 10vh;
		}

		@media only screen and (max-width:480px){
			nav{
				width:100%;
			}
		   .two{
		   	width:100%;
		   	font-size: 20px;
		   }
		   .b{
		   	height: 400px;
		   	flex-direction: column;
		   }

		   .b img{
		   	width:270px;
		   	height: 140px;
		   }
		   .two1 p{
		   	font-size:20px;
		   }
		   .one {
		   	display: flex;
		   	flex-direction: column;
		   }
		   .name {
		   	font-size: 30px;
		   }
		   .one span{
		   	font-size: 25px;
		   }
		}
		@media only screen and (max-width:480px){
			nav{
				font-size: 10px;
			}
			.navbar_link a {
				font-size: 10px;
			}
			.a{
				width:70%
			}
			.b{
				width: 79%;
			}
			.b img{
				width:228px;
			}
			.two1{
				width:85%;
			}
			.two1 p{
				font-size: 15px;
			}
		}
